<div class="container">
  <div class="row mt-3">
    <div class="col-6">
    <p>list: <%= @list.name %> </p>
    </div>
  </div>

<div class="row">
    <div class="col-6">
      <ul class="list-group">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item border-bottom-0 "> Title of the movie: <%= bookmark.movie.title %> </li>
        <li class="list-group-item border-bottom-0"> Rating: <%= bookmark.movie.rating %> </li>
         <li class="list-group-item"> Overview: <%= bookmark.movie.overview %> </li>
         <li class="list-group-item">
            <%= link_to "remove the movie from the list",
                          bookmark_path(bookmark),
                          method: :delete,
                          data: { confirm: "Are you sure?"} %>
          </li>

      <% end %>
      </ul>
    </div>
  </div>
 <%= link_to "Back to the list", root_path %>
 <%= link_to "Add a movie to the list", new_list_bookmark_path(@list) %>

</div>
