<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('<% if @list.photo.attached? %> <%= cl_image_path @list.photo.key, height: 100, crop: :fill %><%end%>');">
    <div class="text-center">
      <h1><%= @list.name %> </h1>
    </div>
</div>

<div class="container">


<div class="row">
    <div class="col-6">
      <ul class="list-group">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item border-bottom-0 "> Title of the movie: <%= bookmark.movie.title %> </li>
        <li class="list-group-item border-bottom-0"> Rating: <%= bookmark.movie.rating %> </li>
         <li class="list-group-item"> Overview: <%= bookmark.movie.overview %> </li>
         <%# <li class="list-group-item"> <%= cl_image_tag @movie.photo.key, alt: "poster of movie", width: 200  %>
         <li class="list-group-item">
            <%= link_to "remove the movie from the list",
                          bookmark_path(bookmark),
                          method: :delete,
                          data: { confirm: "Are you sure?"},
                          class: "bg-warning" %>
          </li>

      <% end %>
      </ul>
    </div>
  </div>
 <%= link_to "Back to the list", root_path %>
 <%= link_to "Add a movie to the list", new_list_bookmark_path(@list) %>
<div class="row">
    <div class="col-6">
    <h4>Add a movie to this list: <%= @list.name %></h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie  %>
      <%= f.input :comment %>
       <%= f.input :photo, as: :file %>
      <%= f.button :submit, class:"btn btn-primary"  %>
      <% end %>
    </div>
  </div>


</div>
