<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('<% if @list.photo.attached? %> <%= cl_image_path @list.photo.key, height: 100, crop: :fill %><%end%>');">
    <div class="text-center">
      <h1><%= @list.name %> </h1>
    </div>
</div>

<div class="container">
  <div class="card-product mt-5">

    <% @list.bookmarks.each do |bookmark| %>
    <%= image_tag bookmark.movie.poster_url, width:200 %>
      <div class="card-product-title ms-3">
       <h4> <%= bookmark.movie.title %> </h4>
      </div>

      <div class="card-product-info ms-3">
            <h5> Overview: <%= bookmark.movie.overview %> </h5>
            <p> Rating: <%= bookmark.movie.rating %>/10 </p>

      </div>
      <div class="ms-3">
        <%= link_to "remove the movie",
          bookmark_path(bookmark),
          method: :delete,
          data: { confirm: "Are you sure?"},
          class: "bg-dark" %>
      </div>
    <% end %>

  </div>

  <div class="row mt-5">
      <div class="col-6">
      <h4>Add a movie to this list: <%= @list.name %></h4>
        <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie  %>
        <%= f.input :comment %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class:"btn btn-primary"  %>
        <% end %>
      </div>
  </div>

</div>
