<div class="container">
  <div class="row">
    <div class="col-6">
    <h4>Add a movie to this list: <%= @list.name %></h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, value_method: :id  %>
      <%= f.input :comment %>
      <%= f.button :submit, class:"btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
